/* Style sheet for the awesomeDojoCV */

#content {
  color: purple;
  margin: 5% 20%;
  background-color: #eee;
  padding: 50px;
  border: 1px solid black;
}

#title {
  text-align: center;
  transform: rotate(-2deg);
}

#avatar {
  float: right;
}
#avatar img {
  height: 70px;
  border: 1px solid black;
  padding: 2px;
}

.block {
  margin-bottom: 1em;
}
.block .gauche {
  float: left;
  width: 33%;
  padding-left: 10px;
}
.block .gauche h3 {
  vertical-align: super;
}
.block .droite {
  overflow: auto;
  border-left: 1px solid black;
}
.content > .block:nth-child(odd){
  background-color: #f2f2f2;
}
